@tailwind base;
@tailwind components;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar{
    @apply relative top-0 left-0 h-screen flex flex-col pt-3 w-[72px]
    bg-white dark:bg-gray-900 shadow-lg
    transition-all duration-200 ease-in-out origin-top
    
  }
  .sidebar-group {
    @apply relative flex items-center justify-center 
    h-12 w-full mx-auto mb-2 cursor-pointer
  }

  .sidebar-icon{
    @apply  bg-gray-400 dark:bg-gray-800 w-12 h-12 mx-auto flex justify-center items-center
    group-hover:bg-green-500 group-hover:dark:bg-green-500 text-green-500 group-hover:text-white 
    group-hover:rounded-xl rounded-3xl
    transition-all duration-200 ease-linear
    cursor-pointer shadow-lg 
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-16 rounded-md shadow-lg
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-200 scale-0 origin-left
    z-50
  }

  

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 mb-2
    border-2 border-gray-200 dark:border-gray-800 rounded-full
    transition-all duration-200 ease-in-out
    w-1/2 mx-auto
  }
 


  .top-navigation {
    @apply flex flex-row items-center justify-evenly
    bg-gray-300 dark:bg-gray-700 bg-opacity-90
    w-full h-16 m-0 p-0
    shadow-lg
    transition-all duration-200 ease-in-out
  }
  .top-nav-icon{
    @apply text-gray-500
    mr-3 ml-3
    transition-all duration-200 ease-in-out
    cursor-pointer
  hover:text-pink-500
    
  }
  .top-nav-icon:first{
    @apply ml-auto mr-4
  }

  .title-hashtag {
    @apply text-lg tracking-wider font-semibold text-gray-500
    my-auto ml-2
    
  }
  .title-text{
    @apply text-xl text-gray-500 font-semibold
    tracking-wider text-opacity-90
    mr-auto ml-2 my-auto pb-0.5
    transition duration-200 ease-in-out
    
  }
  .search{
    @apply w-1/5 flex items-center justify-start
    min-w-fit
    text-gray-500 
    bg-gray-400 dark:bg-gray-600
    px-2 h-9 mx-0 rounded-md shadow-md
    transition duration-200 ease-in-out
    
  }
  .search-input{
    @apply w-full font-sans font-semibold
    text-gray-600 dark:text-gray-400
    placeholder-gray-500
    bg-transparent outline-none
    pl-1 rounded
  }

  .channel-bar{
    @apply w-60 h-full overflow-hidden m-0
    bg-gray-200 dark:bg-gray-800 
    shadow-lg
    transition-all duration-200 ease-in-out
    
  }
  .channel-container{
    @apply flex flex-col justify-start items-center h-full
    overflow-y-auto
    p-1 m-0 py-4
  }
  .channel-block{
    @apply flex flex-row items-center justify-between
    h-12 p-0 m-0 shadow-lg pr-2.5
    cursor-pointer
    select-none
  }
  .channel-block-text{
    @apply text-base tracking-wider font-semibold
    text-gray-600 dark:text-gray-400
    mr-auto ml-4 my-auto
    
  }
  .dropdown{
    @apply w-full px-1 pb-2 m-0
    transition duration-200 ease-in-out
    
  }
  .dropdown-header{
    @apply flex flex-row items-end justify-evenly
    text-gray-500 cursor-pointer
    
  }
  .dropdown-header-text{
    @apply dark:text-gray-400 text-gray-700 dark:text-opacity-70 text-[13px] font-semibold cursor-pointer tracking-wide
    group-hover:dark:text-gray-300 group-hover:dark:text-opacity-100
    group-hover:text-gray-900 text-opacity-100
  }

  .dropdown-selection{
    @apply flex flex-row items-center justify-evenly gap-1
    mr-auto py-1 px-1.5
    transition duration-200 ease-in-out
    bg-gray-900 dark:bg-gray-300 dark:bg-opacity-0 bg-opacity-0 hover:bg-opacity-10 hover:dark:bg-opacity-10 rounded-md
    cursor-pointer;
  }
  .dropdown-selection-text{
    @apply mr-auto
  dark:text-gray-500 text-gray-700
  group-hover:dark:text-gray-300
    group-hover:text-gray-900
    font-semibold tracking-wide
    transition duration-200 ease-in-out
    mb-0.5
    cursor-pointer
    text-[15px]
  }
  .dropdown-selection-icon{
    @apply text-gray-600 dark:text-gray-400 dark:text-opacity-60
  }
  .chevron {
    @apply transition-all duration-200 ease-in-out dark:text-gray-400 text-gray-700 dark:text-opacity-70 my-auto mr-1 
    group-hover:dark:text-gray-300 group-hover:dark:text-opacity-100
    group-hover:text-gray-900 text-opacity-100
  }
  .content-container{
    @apply flex flex-1 flex-col h-full
    bg-gray-300 dark:bg-gray-700
    m-0
    overflow-hidden
    transition-all duration-200 ease-in-out
  }
  .content-list{
    @apply w-full h-full overflow-y-auto flex flex-col justify-start items-center
    pb-16 pt-1
  }
  .post{
    @apply w-full h-auto flex justify-evenly mx-auto my-2
    px-10 pt-2
  }
  .avatar-wrapper{
    @apply w-24 h-fit ml-auto
  }
  .avatar-circle{
    @apply w-14 h-14 rounded-full 
    bg-pink-600 text-black p-0 ml-auto mr-0
    overflow-hidden
    flex justify-center items-center
    hover:text-white
    transition duration-200 ease-in-out
    cursor-pointer
    shadow-md
  }
  .profile-image{
    @apply w-full
  }
  .profile-text{
    @apply w-full text-3xl text-center p-0 py-1.5
    line-clamp-1 mr-0.5 mb-0.5
    font-semibold
  }
  .post-content{
    @apply w-full text-gray-900 dark:text-gray-100
    px-9 py-0
  }
  .post-owner{
    @apply w-full
    mb-1
  }
  .owner-name{
    @apply text-base font-semibold mr-3
    transition duration-200 ease-in-out
    cursor-pointer
    hover:text-pink-500
    tracking-wider
  }
  .timestamp{
    @apply text-gray-500
  }
  .post-text{
    @apply text-lg tracking-wide
    transition duration-200 ease-in-out
    text-justify
  }

  .bottom-bar{
    @apply flex flex-row justify-between items-center
    fixed left-88 bottom-3 right-10
    rounded-lg shadow-lg
    bg-gray-400 dark:bg-gray-600 px-2
    h-12
  }
  .bottom-bar-input{
    @apply w-full h-full bg-transparent
    outline-none
  text-gray-900 dark:text-gray-100
  placeholder-gray-500
  }


  /* Server Actions Menu */

  .server-actions-block{
    @apply absolute left-2 right-2 z-10 rounded-md
    h-auto dark:bg-background-dark bg-gray-300
    dark:text-gray-400 px-2 text-[13px] font-medium
    transition-all duration-150 ease-in-out
    shadow-lg
    py-1.5
  }
  .server-actions-block .list-group {
    @apply border-b
  border-gray-700 py-1
    
  }
  .server-actions-block .list-group:last-child{
    @apply border-none pb-0
  }
  .list-group .action{
    @apply py-[6px] px-2 rounded-md
    transition-all duration-100 ease-in-out 
    cursor-pointer 
    dark:text-opacity-80 text-gray-800  
  dark:text-gray-400 
    flex justify-between items-center
    select-none
  }
  .list-group .action.action-normal{
    @apply hover:bg-indigo-500 
    hover:text-gray-50 hover:text-opacity-100
  }
  .list-group .action.action-red{
    @apply text-red-600 text-opacity-100
    hover:bg-red-600
    hover:dark:text-gray-50 hover:dark:text-opacity-100
  }
  .list-group .action.action-indigo{
    @apply text-indigo-400 
    hover:bg-indigo-500
    hover:dark:text-gray-50 hover:dark:text-opacity-100 hover:text-gray-950
  }

  /* __________ */


}




@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-600
}


